/* 
Colors:
Pearl #E3DED1
Lightest Blue #F5FBFB
Teal #D9E2DE 
Sand #F0E9DF
Dark Blue #507882
Light Blue #E1EFF0

Fonts:
Default: font-family: 'Advent Pro', sans-serif;
Headings: font-family: 'Julius Sans One', sans-serif;
Fish Species in Form: font-family: 'Staatliches', sans-serif;
Footer/credits: font-family: 'Zeyada', cursive;
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Advent Pro', sans-serif;
    box-sizing: border-box;
}

.nav {
    background-color: #E3DED1;
    color: #507882;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 1rem;
}

.site-title {
    font-size: xx-large;
    font-family: 'Julius Sans One', sans-serif;
    padding: 1.5%;
    margin: 1%;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-family: 'Julius Sans One', sans-serif;
}

.nav li {
    font-family: 'Julius Sans One', sans-serif;
    list-style: none;
}

.nav a{
    color: inherit;
    text-decoration: none;
    font-size: large;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
    font-family: 'Julius Sans One', sans-serif;
}

.nav li.active{
    background-color: #507882;
}

.nav li.hover{
    background-color: #E1EFF0;
}
