.cardContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 90%;
    margin: auto
}

/* Create three equal columns that float next to each other */
.column {
    width: 18rem;
}