*{
    margin: 0;
    padding: 0;
    align-content: center;
}

.background-image {
    background-image: url('../../assets/hiroko-yoshii-9y7y26C-l4Y-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1{
  padding-top: 3%;
  padding: .75%;
  font-size: 80px;
  text-align: center;
  font-family: 'Julius Sans One', sans-serif;
}

h2 {
    padding: .75%;
    font-size: 60px;
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
}

.btnz {
    width: 100% auto;
    height: 10%;
    justify-content: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: x-large;
    margin: 2em auto;
    padding: 0;
}

#footer {
    position : absolute;
    bottom : 0;
    font-size: 10px;
    background-color: #E3DED1;
    font-family: 'Zeyada', cursive;
}

.btnBox {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Media Query for Tablet */
@media screen and (max-width: 1030px){
    .btnBox{
        height: 50vh;
    }
  }
  
  /* Media Query for SmartPhones */
  @media screen and (max-width: 480px){
      h1 { 
          font-size: 50px;
      }
      h2 {
          font-size: 25px;
      }
      h3 {
          font-size: 20px;
      }  
  }